*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  font-family: 'Mukta', sans-serif;
}

:root {
  --navbar-link-color:#F7FFF7;
  --navbar-background-color: #292F36;
  --button-background-color--dark: #292F36;
  --button-background-color--light: #d5d5d5;
  --button-text-color--dark:  #292F36;
  --button-text-color--light: #F7FFF7;
}

.container__content {
  position: relative;
}

.container__navbar {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  height: 75px;
  background-color: var(--navbar-background-color);
  align-items: center;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.container__navbar--appear {
  transform: translateY(-75px);
}

.container__navbar--appear-done {
  transition: transform 500ms cubic-bezier(0.33, 1, 0.68, 1);
}

.navbar__left {
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.navbar__right {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.navbar__middle {
  display: flex;
  justify-content: center;
  align-content: center;
}

.navbar__link {
  margin: 0 15px;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 1em;
  position: relative;
  color: var(--navbar-link-color);
}

.navbar__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: var(--navbar-link-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 300ms ease-in-out 0s;
}

.navbar__link--home::before {
  bottom: -3px;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 2px;
  left: 0;
  background-color: var(--navbar-link-color);
}

.navbar__link--home.active::after {
  bottom: -3px;
}

.navbar__link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar__link--home {
  font-size: 2.5em;
  font-weight: 400;
  font-family: 'Fascinate', cursive;
}

.navbar__link--cart-exit {
}

.navbar__link--cart--exit-active {
  /* transform: scale(1.2); */
  transform: scale(0.5);
  opacity: 0.2;
  transition: all 500ms cubic-bezier(0.32, 0, 0.67, 0);
}

.navbar__link--cart--enter {
  transform: scale(0.5);
  opacity: 0.2;
}

.navbar__link--cart--enter-active {
  transform: scale(1);
  opacity: 1;
  transition: all 500ms cubic-bezier(0.33, 1, 0.68, 1);
}

.about__paragraph {
  padding: 20px 0;
}

.container__page {
  width: 100%;
  margin-top: 50px;
  position: absolute;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

.container__page--appear {
  opacity: 0;
  transform: scale(0.2);
}

.container__page--appear-done {
  opacity: 1;
  transition: opacity 750ms ease-in, transform 750ms cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: scale(1);
}

.container__page--enter {
  opacity: 0;
  transform: scale(0.5);
}

.container__page--enter-active {
  opacity: 1;
  transition: opacity 750ms ease-in, transform 750ms cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: scale(1);
}

.container__page--exit {
  opacity: 1;
}

.container__page--exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 300ms ease-out, transform 300ms cubic-bezier(0.32, 0, 0.67, 0);
}

.text--page-heading {
  text-align: center;
}

.text--item-heading {
  font-weight: 600;
  font-size: 1.2em;
}

.text--price {
  text-align: end;
  font-style: italic;
  font-size: 1.2em;
}

.container__item-list {
  display: grid;
  justify-items: center;
}

.container__item {
  max-width: 1000px;
  display: flex;
  margin: 50px 0;
  align-items: center;
}

.container__item__details__top-row {
  display: grid;
  grid-template-columns: Auto Auto;
  margin-bottom: 10px;
}

.container__item__thumbnail {
  min-width: 200px;
  max-width: 200px;
  height: auto;
  margin: 20px;
}

.item__thumbnail {
  width: 100%;
  height: auto;
}

.container__buttons {
  display: flex;
  justify-content: flex-end;
}

.button {
  border-radius:0.2em;
  padding: 2px 8px;
  margin: 0 5px;
  font-weight: 400;
  background-color: var(--button-background-color--light);
  color: var(--button-text-color--dark);
  text-align:center;
  vertical-align: middle;
  transition: all 200ms ease-in;
  height: 25px;
 }

 .button:hover {
   background-color: var(--button-background-color--dark);
   color: var(--button-text-color--light);
   box-shadow:  0px 6px 12px rgba(0, 0, 0, 0.15);
 }

 .button:active {
  background-color: black;
  color: var(--button-text-color--light);
 }